body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%) no-repeat fixed;
  color: #2f2235;
}

main {
  color: #333;
}

button {
    padding: 6px 12px;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 105%;
  font-family: inherit;
  background-color: #f079be;
  color: #000;
  cursor: pointer;
}

button:hover {
  background-color: #f5a8d3;
}